.header {
  border-top: 1px solid #cdcecf;
  border-bottom: 1px solid #cdcecf;
  padding: 15px 20px;
  font-size: 20px;
  color: #666;
  background-color: #F9F9F9;
}

.container {
  padding: 15px 20px;
}

.from-to {
  font-weight: bold;
  color: #333;
  font-size: 17px;
}

.date {
  color: #666;
  font-size: 14px;
}
.cancel {
  cursor: pointer;
}

.content-type {
  padding: 10px 20px;
  font-size: 12px;
}

.space {
  height: 5px;
  background-color: white;
}

.content-type-container-1:hover ::ng-deep .space{
  background-color: red;
}

.content-type-container-2:hover ::ng-deep .space{
  background-color: red;
}

.content-type-container-3:hover ::ng-deep .space{
  background-color: red;
}

.space-selected {
  background-color: red;
}

.content-type-container-1 {
  border-top: 1px solid #e2e2e2;
  cursor: pointer;
}

.content-type-container-2 {
  border-top: 1px solid #e2e2e2;
  border-left: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
  cursor: pointer;
}

.content-type-container-3 {
  border-top: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
  cursor: pointer;
}

p-button ::ng-deep .ui-button {
  width: 115px;
  height: 36px;
}

p-button ::ng-deep .ui-button:enabled {
  border: 1px solid #F34F4F;
  background-color: #F34F4F;
}

p-button ::ng-deep .ui-button:enabled:hover {
  background-color: #EA2330;
  border: 1px solid #EA2330;
}

p-button ::ng-deep .ui-button:disabled {
  opacity: 1;
  color: #999;
  border: 1px solid #E2E2E2;
  background-color: #E2E2E2;
}
