<div>
  <div fxLayout="row" fxLayoutAlign="space-between none" class="header">
    <div>Flight Details</div>
    <div class="cancel" (click)="onCancel()"><img src="../../../../../assets/flight-details-page-cancel-button.png" alt="" width="16px" height="16px"></div>
  </div>
  <div class="container" fxLayout="row" class="container" fxLayoutAlign="space-between none">
    <div fxLayout="column" fxLayoutGap="5px">
      <div class="from-to">New Delhi - San Francisco</div>
      <div class="date">Wed, 3 Oct</div>
    </div>
    <div fxLayout="column" fxLayoutGap="5px">
      <div class="from-to">Rs.1,15,058</div>
      <div class="date">(Per Adult)</div>
    </div>
  </div>
</div>
