.fare-summery-rules-container {
  padding: 20px;
  border-top: 1px solid #e2e2e2;
}

.left {
  width: 278px;
}

.fare-table {
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.fare-type {
  width: 166px;
  padding: 7px 5px;
  font-size: 12px;
  color: #333;
  border-right: 1px solid #ddd;
}

.fare-price {
  width: 112px;
  padding: 7px 5px;
  text-align: right;
  font-size: 12px;
  color: #333;
}

.fare-table-row {
  border-bottom: 1px solid #ddd;
}

.bold {
  font-weight: bold;
}

.right {
  border-left: 1px solid #ddd;
  padding-left: 10px;
  width: 425px;
}
