<div class="fare-summery-rules-container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="10px">
  <div fxLayout="column" fxLayoutGap="10px" class="left">
    <div fxLayout="column" class="fare-table">
      <div class="fare-table-row" fxLayout="row">
        <div class="fare-type bold">Fare Summery</div>
        <div class="fare-price bold">ADT * 1</div>
      </div>
      <div class="fare-table-row" fxLayout="row">
        <div class="fare-type">Base Fare</div>
        <div class="fare-price">$ {{ getBase()}}</div>
      </div>
      <div class="fare-table-row" fxLayout="row">
        <div class="fare-type">Fee and Tax</div>
        <div class="fare-price">$ {{ getTax()}}</div>
      </div>
      <div class="fare-table-row" fxLayout="row">
        <div class="fare-type bold" style="background-color: #f9f9f9;">Total</div>
        <div class="fare-price bold" style="background-color: #f9f9f9;">{{flight.price}}</div>
      </div>
    </div>
    <div style="color: #999999; font-size: 10px;"><sup>*</sup>Total fare displayed above has been rounded off and may
      thus show a slight difference.
    </div>
  </div>
  <div class="right" fxLayout="column" fxLayoutGap="10px" [ngClass.sm]="{'right-sm': true}" [ngClass.xs]="{'right-xs': true}">
    <div fxLayout="column" class="fare-table">
      <div class="fare-table-row" fxLayout="row" style="background-color: #f9f9f9;">
        <div class="fare-type bold" style="width: 340px;">Fare Rules</div>
        <div class="fare-price bold" style="width: 85px; text-align: center;">Adult</div>
      </div>
      <div class="fare-table-row" fxLayout="row" style="padding: 7px 5px; font-weight: bold; font-size: 12px;">
        Cancellation fee <sup>*</sup>
      </div>
      <div class="fare-table-row" fxLayout="row">
        <div class="fare-type" style="width: 340px;">Before Departure</div>
        <div class="fare-price" style="width: 85px; text-align: right;">$ {{ getBase()/4 }}</div>
      </div>
      <div class="fare-table-row" fxLayout="row">
        <div class="fare-type" style="width: 340px;">No show</div>
        <div class="fare-price" style="width: 85px; text-align: right; font-size: 10px;">Non-Refundable</div>
      </div>
      <div class="fare-table-row" fxLayout="row">
        <div class="fare-type" style="width: 340px;">After Departure</div>
        <div class="fare-price" style="width: 85px; text-align: right; font-size: 10px;">Non-Refundable</div>
      </div>

      <div class="fare-table-row" style="padding: 7px 5px; font-weight: bold; font-size: 12px;">
        <div style="margin-bottom: 3px">Change Fee *</div>
        <div style="color: #999999; font-size: 10px; font-weight: normal">(modification of date/flight no./same city
          airports or transporting airlines)
        </div>
      </div>
      <div class="fare-table-row" fxLayout="row">
        <div class="fare-type" style="width: 340px;">Before Departure</div>
        <div class="fare-price" style="width: 85px; text-align: right;">$ {{ getBase()/4 }}</div>
      </div>
      <div class="fare-table-row" fxLayout="row">
        <div class="fare-type" style="width: 340px;">No show</div>
        <div class="fare-price" style="width: 85px; text-align: right; font-size: 10px;">Non-Refundable</div>
      </div>
      <div class="fare-table-row" fxLayout="row">
        <div class="fare-type" style="width: 340px;">After Departure</div>
        <div class="fare-price" style="width: 85px; text-align: right; font-size: 10px;">Non-Refundable</div>
      </div>
      <div class="fare-table-row" style="padding: 7px 5px; font-weight: bold; font-size: 12px;">
        <div style="margin-bottom: 3px">Yatra Service Fee(YSF)</div>
        <div style="color: #999999; font-size: 10px; font-weight: normal">(charged per passenger in addition to airline
          fee as applicable)
        </div>
      </div>
      <div class="fare-table-row" fxLayout="row">
        <div class="fare-type" style="width: 340px;">Offline Cancellation Service Fee</div>
        <div class="fare-price" style="width: 85px; text-align: right;">$ {{ getBase()/10 }}</div>
      </div>
      <div class="fare-table-row" fxLayout="row">
        <div class="fare-type" style="width: 340px;">Online Cancellation Service Fee</div>
        <div class="fare-price" style="width: 85px; text-align: right; font-size: 10px;">Non-Refundable</div>
      </div>
      <div class="fare-table-row" fxLayout="row">
        <div class="fare-type" style="width: 340px;">Rescheduling Service Fee</div>
        <div class="fare-price" style="width: 85px; text-align: right; font-size: 10px;">Non-Refundable</div>
      </div>
      <div class="fare-table-row" style="padding: 7px 5px; font-size: 10px; color: #999999;">
        We would recommend that you reschedule/cancel your tickets at least 72 hours prior to the flight departure.
      </div>
    </div>
    <div style="color: #999999; font-size: 10px;"><sup>*</sup> Please note: Yatra service fee is over and above the
      airline cancellation fee.
    </div>
  </div>
</div>
