.container {
  background-color: white;
  padding: 20px 12px 15px;
  margin-bottom: 15px;
}

.airline {
  width: 200px;
}

.schedule-place-time {
  width: 300px;
}

.departure-place-time {
  width: 90px;
}

.arrival-place-time {
  width: 90px;
}

.time-taken-and-via {
  width:90px;
}

.price-and-book {
  width: 200px;
}

.time {
  color: #333;
  font-weight: bold;
}

.place {
  color: #999;
  font-size: 12px;
}

.time-taken {
  color: #333;
}

.via {
  color: #999;
  font-size: 12px;
}

.price {
  font-weight: bold;
  font-size: 20px;
}

.air-carrier {
  padding-top: 8px;
}

p-button ::ng-deep .ui-button {
  width: 115px;
  height: 36px;
  font-family: Arial, Helvetica, sans-serif;
}

p-button ::ng-deep .ui-button:enabled {
  border: 1px solid #F34F4F;
  background-color: #F34F4F;
}

p-button ::ng-deep .ui-button:enabled:hover {
  background-color: #EA2330;
  border: 1px solid #EA2330;
}

p-button ::ng-deep .ui-button:disabled {
  opacity: 1;
  color: #999;
  border: 1px solid #E2E2E2;
  background-color: #E2E2E2;
}
