<div fxLayout="column" class="outer-container">
  <div class="container" fxLayout="row" fxLayoutGap="15px">
    <div class="airline" fxLayout="row" fxLayoutGap="5px">
      <div>
        <img src="../../../../assets/air_india.png" alt="Smiley face" width="30" height="30">
      </div>
      <div class="air-carrier">{{flight.carrier}}</div>
    </div>
    <div class="schedule-place-time" fxLayout="row" fxLayoutGap="15px">
      <div class="departure-place-time" fxLayout="column" fxLayoutGap="2px">
        <div class="time">
          {{flight.departureTime | date:'shortTime'}}
        </div>
        <div class="place">
          {{flight.from}}
        </div>
      </div>
      <div class="arrival-place-time" fxLayout="column" fxLayoutGap="2px">
        <div class="time">
          {{flight.arriveAt | date:'shortTime'}}
        </div>
        <div class="place">
          {{flight.to}}
        </div>
      </div>
      <div class="time-taken-and-via" fxLayout="column" fxLayoutGap="2px">
        <div class="time-taken">
          {{ timeConversion(flight.arriveAt - flight.departureTime)}}
        </div>
        <div class="via">
          {{flight.layOverDetails.length}} Stop(s), via {{flight.layOverDetails[0].via}}
        </div>
      </div>
    </div>
    <div class="price-and-book" fxLayout="row" fxLayoutAlign="space-between none">
      <div class="price">{{ flight.price }}</div>
      <p-button label="Book Now" (onClick)="disabled = !disabled; reviewFlight();" [disabled]="disabled"></p-button>
    </div>
  </div>

  <div style="padding: 5px 10px; border-top: 1px solid #e4e4e4;" fxLayout="row">
    <div style="width:230px;" fxLayout="column">
      <div style="font-size: 11px;">Flight Inclusions</div>
      <div fxLayout="row">
        <div style="padding: 4px 0;" *ngFor="let el of flightInclusion; let i = index;">
          <div *ngIf="i >= 0 && i <= flightInclusion.length - 2" fxLayout="row">
            <div class="flight-inclusion"  [ngClass]="{'flight-inclusion-selected': colorRedOrNot(i)}" (click)="selectConvenienceOf(i)">
              {{flightInclusion[i].code}} - {{flightInclusion[i+1].code}}
            </div>
            <div style="padding: 3px; color: #999; font-size: 10px" *ngIf="i !== flightInclusion.length -2">
              -
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="width:270px; padding: 8px;" fxLayout="row" fxLayoutAlign="space-between none">
      <div fxLayout="column" class="convenience tooltip" [ngClass]="{'convenience-present-or-not': presentOrNot('aircraft')}">
        <i class="fa fa-plane" aria-hidden="true" style="text-align: center"></i>
        <div>Aircraft<span class="tooltiptext" *ngIf="presentOrNot('aircraft')">{{convenience.aircraft}}</span></div>
      </div>
      <div fxLayout="column" class="convenience tooltip" [ngClass]="{'convenience-present-or-not': presentOrNot('meal')}">
        <i class="fa fa-cutlery" aria-hidden="true" style="text-align: center"></i>
        <div>Meal <span class="tooltiptext" *ngIf="presentOrNot('meal')">{{convenience.meal}}</span></div>
      </div>
      <div fxLayout="column" class="convenience tooltip" [ngClass]="{'convenience-present-or-not': presentOrNot('internet')}">
        <i class="fa fa-wifi" aria-hidden="true" style="text-align: center"></i>
        <div>Internet<span class="tooltiptext" *ngIf="presentOrNot('internet')">{{convenience.internet}}</span></div>
      </div>
      <div fxLayout="column" class="convenience tooltip" [ngClass]="{'convenience-present-or-not': presentOrNot('entertainment')}">
        <i class="fa fa-youtube-play" aria-hidden="true" style="text-align: center"></i>
        <div>Entertainment<span class="tooltiptext" *ngIf="presentOrNot('entertainment')">{{convenience.entertainment}}</span></div>
      </div>
    </div>
    <div style="width:235px; font-size: 12px; color: #333; padding: 13px 5px;" fxLayout="row-reverse" fxLayoutGap="5px">
      <div class="flight-details-refundable-or-not">e-cash</div>
      <div class="vertical-line"></div>
      <div class="flight-details-refundable-or-not" (click)="showDetails = !showDetails; showFare = false;">Flight Details</div>
      <div class="vertical-line"></div>
      <div class="flight-details-refundable-or-not" (click)="showDetails = !showDetails; showFare = true;">{{flight.fareType}}</div>
    </div>
  </div>
  <app-flight-details *ngIf="showDetails" (closeEmitter)="showDetails = !showDetails" [showFare]="showFare" [flight]="flight" [flightInclusion]="flightInclusion"></app-flight-details>
</div>

