<div class="container" fxLayout="row" fxLayoutGap="15px">
  <div class="airline" fxLayout="row" fxLayoutGap="5px">
    <div>
      <img src="../../../../assets/air_india.png" alt="Smiley face" width="30" height="30">
    </div>
    <div class="air-carrier">Air India</div>
  </div>
  <div class="schedule-place-time" fxLayout="row" fxLayoutGap="15px">
    <div class="departure-place-time" fxLayout="column" fxLayoutGap="2px">
      <div class="time">
        11:35
      </div>
      <div class="place">
        San Francisco
      </div>
    </div>
    <div class="arrival-place-time" fxLayout="column" fxLayoutGap="2px">
      <div class="time">
        07:15
      </div>
      <div class="place">
        New Delhi
      </div>
    </div>
    <div class="time-taken-and-via" fxLayout="column" fxLayoutGap="2px">
      <div class="time-taken">
        22h 25m
      </div>
      <div class="via">
        1 Stops, via Seoul
      </div>
    </div>
  </div>
  <div class="price-and-book" fxLayout="row" fxLayoutAlign="space-between none">
    <div class="price">$500</div>
    <p-button label="Book Now" (onClick)="disabled = !disabled" [disabled]="disabled"></p-button>
  </div>
</div>
