<div class="itinerary-container" fxLayout="column">
  <div fxLayout="row" style="margin: 20px 0;">
    <div class="flight-and-aircraft" fxLayout="column" fxLayoutGap="5px">
      <div fxLayout="row" fxLayoutGap="15px">
        <div><img src="../../../../../assets/air_india.png" alt="" width="28px" height="28px"></div>
        <div>
          <div class="airline-name">Singapore Airlines, SQ - 401</div>
          <div class="operated-by">Operated by Singapore Airlines</div>
        </div>
      </div>
      <div>Boeing 777-200/200ER</div>
    </div>
    <div class="from-place-time" fxLayout="column" fxLayoutGap="5px">
      <div style="font-size: 14px; color: #333;">New Delhi (DEL)</div>
      <div style="font-weight: bold; font-size: 16px; color: #333">Wed, 3 Oct, 02:40</div>
      <div style="font-size: 14px; color: #333;">Indira Gandhi - T-3</div>
    </div>
    <div class="other" fxLayout="column" fxLayoutGap="3px">
      <div style="color: #333; font-size: 12px;">04h 25m | via Goa</div>
      <div fxLayout="row">
        <div class="round"><i class="fa fa-circle"></i></div>
        <div><hr style="color: #bebebe; size: 1px; width:65px;"></div>
        <div style="padding: 0 5px; color: #333;">Flight</div>
        <div><hr style="color: #bebebe; size: 1px; width: 65px;"></div>
        <div class="round"><i class="fa fa-circle"></i></div>
      </div>
      <div style="color: #333; font-size: 12px;padding: 5px 0;" fxLayout="row" fxLayoutGap="5px">
        <div>Business Class</div>
        <div>|</div>
        <div style="border: 1px solid #ee7282; padding: 0 5px; color: #ee7282; border-radius: 3px;">Partially Refundable</div>
      </div>
    </div>
    <div class="to-place-time" fxLayout="column" fxLayoutGap="5px">
      <div style="font-size: 14px; color: #333;">Shanghai - Pudong (PVG) </div>
      <div style="font-weight: bold; font-size: 16px; color: #333">Wed, 3 Oct, 11:20</div>
      <div style="font-size: 14px; color: #333;">Pudong - T-1</div>
    </div>
  </div>
  <div style="text-align: center; color: #333; font-size: 13px;">Change planes at <span style="font-weight: bold;" >Bangalore (BLR)</span>, Connecting Time: <span style="font-weight: bold;">06h 00m</span> |  Connecting flight may depart from a different terminal</div>
  <div fxLayout="row" style="margin: 20px 0;">
    <div class="flight-and-aircraft" fxLayout="column" fxLayoutGap="5px">
      <div fxLayout="row" fxLayoutGap="15px">
        <div><img src="../../../../../assets/air_india.png" alt="" width="28px" height="28px"></div>
        <div>
          <div class="airline-name">Singapore Airlines, SQ - 401</div>
          <div class="operated-by">Operated by Singapore Airlines</div>
        </div>
      </div>
      <div>Boeing 777-200/200ER</div>
    </div>
    <div class="from-place-time" fxLayout="column" fxLayoutGap="5px">
      <div style="font-size: 14px; color: #333;">New Delhi (DEL)</div>
      <div style="font-weight: bold; font-size: 16px; color: #333">Wed, 3 Oct, 02:40</div>
      <div style="font-size: 14px; color: #333;">Indira Gandhi - T-3</div>
    </div>
    <div class="other" fxLayout="column" fxLayoutGap="3px">
      <div style="color: #333; font-size: 12px;">04h 25m | via Goa</div>
      <div fxLayout="row">
        <div class="round"><i class="fa fa-circle"></i></div>
        <div><hr style="color: #bebebe; size: 1px; width:65px;"></div>
        <div style="padding: 0 5px; color: #333;">Flight</div>
        <div><hr style="color: #bebebe; size: 1px; width: 65px;"></div>
        <div class="round"><i class="fa fa-circle"></i></div>
      </div>
      <div style="color: #333; font-size: 12px;padding: 5px 0;" fxLayout="row" fxLayoutGap="5px">
        <div>Business Class</div>
        <div>|</div>
        <div style="border: 1px solid #ee7282; padding: 0 5px; color: #ee7282; border-radius: 3px;">Partially Refundable</div>
      </div>
    </div>
    <div class="to-place-time" fxLayout="column" fxLayoutGap="5px">
      <div style="font-size: 14px; color: #333;">Shanghai - Pudong (PVG) </div>
      <div style="font-weight: bold; font-size: 16px; color: #333">Wed, 3 Oct, 11:20</div>
      <div style="font-size: 14px; color: #333;">Pudong - T-1</div>
    </div>
  </div>
  <div style="width: 724px; color: #999; font-size: 12px"><span style="font-weight: bold; color: #333333;">Disclaimer:</span> Passenger of all Nationalities are advised to confirm with respective embassies for all visa requirements.This communication is for informational & general purposes only & Yatra assumes no responsibility,legal or otherwise,of its applicability & accuracy.</div>
</div>
