<div class="container" fxLayout="column">
  <app-filter-checkbox *ngFor="let filterElement of filterArray" [filterType]="filterElement.filterType"
                       [filterValues]="filterElement.filterValues"></app-filter-checkbox>
  <div fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="space-between none">
      <div>{{rangeValues[0]}}</div>
      <div>{{rangeValues[1]}}</div>
    </div>
    <p-slider [(ngModel)]="rangeValues" [range]="true" [min]="20241" [max]="40342"></p-slider>
  </div>
</div>
