.container {
  width: 260px;
  padding: 0 15px;
  background-color: white;
}

p-slider ::ng-deep .ui-slider-range {
  background-color: #F34747;
}

p-slider ::ng-deep .ui-slider-horizontal {
  height: 4px;
}
