<div class="container" fxLayout="column">
  <div class="filter-type" fxLayout="column">
    <div class="filter-type-title" fxLayout="row" fxLayoutAlign="space-between none" (click)="showAirlines = !showAirlines">
      <div class="filter-type-title-name">Airlines</div>
      <div fxLayout="row" class="hide-show" fxLayoutGap="5px">
        <div class="clear" *ngIf="selectedAirlines.length !== 0" (click)="selectedAirlines.length = 0; showAirlines = !showAirlines;">CLEAR</div>
        <div *ngIf="showAirlines">HIDE</div>
        <div *ngIf="!showAirlines">SHOW</div>
      </div>
    </div>
    <div class="filter-type-content" *ngIf="showAirlines">
      <div class="filter-content-name" *ngFor="let airline of airlines">
        <p-checkbox name="airlines" [value]="airline" [label]="airline" [(ngModel)]="selectedAirlines"></p-checkbox>
      </div>
    </div>
  </div>


  <div class="filter-type" fxLayout="column">
    <div class="filter-type-title" fxLayout="row" fxLayoutAlign="space-between none" (click)="showFareTypes = !showFareTypes">
      <div class="filter-type-title-name">Fare Type</div>
      <div fxLayout="row" class="hide-show" fxLayoutGap="5px">
        <div class="clear" *ngIf="selectedFareType.length !== 0" (click)="selectedFareType.length = 0; showFareTypes = !showFareTypes;">CLEAR</div>
        <div *ngIf="showFareTypes">HIDE</div>
        <div *ngIf="!showFareTypes">SHOW</div>
      </div>
    </div>
    <div class="filter-type-content" *ngIf="showFareTypes">
      <div class="filter-content-name" *ngFor="let fareType of fareTypes">
        <p-checkbox name="airlines" [value]="fareType" [label]="fareType" [(ngModel)]="selectedFareType"></p-checkbox>
      </div>
    </div>
  </div>


</div>
