.payment-ui-container{
  width: 580px;
  height: 800px;
}

.payment-method-title {
  margin-bottom: 25px;
  font-size: 18px;
  color: #666666;
}

.card-number-title-name-on-card-title {
  color: #666666;
  font-size: 14px;
}

input {
  padding: 10px 7px;
  height: 17px;
  width: 224px;
  border: 1px solid #cfcfcf;
  color: #333333;
  font-size: 14px;
  border-radius: 3px;
}

input:focus {
  outline: none;
  border: 1px solid black;
}

input.cvv {
  width: 84px;
}

.pay-full-some-box {
  min-width: 113px;
  padding: 10px;
  border: 1px solid #a3a3a3;
  color: #303030;
  font-size: 13px;
  line-height: 26px;
  height: 26px;
  text-align: center;
}

.payment-full-some-container {
  margin-bottom: 20px;
  border-bottom: 1px solid #d7dce1;
  padding-bottom: 10px;
}

p-radioButton ::ng-deep .ui-radiobutton-box.ui-state-active {
  background-color: red;
  border: 1px solid red;
}

p-button ::ng-deep .ui-button {
  height: 50px;
  width: 170px;
  font-size: 16px;
}

p-button ::ng-deep .ui-button:enabled {
  border: 1px solid #F34F4F;
  background-color: #F34F4F;
}

p-button ::ng-deep .ui-button:enabled:hover {
  background-color: #EA2330;
  border: 1px solid #EA2330;
}

p-button ::ng-deep .ui-button:disabled {
  opacity: 1;
  color: #999;
  border: 1px solid #E2E2E2;
  background-color: #E2E2E2;
}

.price {
  font-size: 32px;
  font-weight: bold;
  color: #333333;
  line-height: 50px;
}

.button-align {
  padding-top: 19px;
}
