<div class="payment-ui-container">
  <div fxLayout="row" fxLayoutGap="25px" class="payment-full-some-container">
    <div fxLayout="row" fxLayoutGap="5px">
      <div class="button-align">
        <p-radioButton name="payment-full-partial" value="full" [(ngModel)]="selectedPaymentPlan"></p-radioButton>
      </div>
      <div class="pay-full-some-box">Pay Now</div>
    </div>
    <div fxLayout="row" fxLayoutGap="5px">
      <div class="button-align">
        <p-radioButton name="payment-full-partial" value="partial" [(ngModel)]="selectedPaymentPlan"></p-radioButton>
      </div>
      <div class="pay-full-some-box">Partial Payment</div>
    </div>
  </div>
  <div>
    <div class="payment-method-title">Pay with Credit Card</div>
    <div fxLayout="row" fxLayoutGap="12px" style="margin-bottom: 15px;">
      <div fxLayout="column" fxLayoutGap="5px">
        <div class="card-number-title-name-on-card-title">Credit Card Number</div>
        <input type="text">
      </div>
      <div fxLayout="column" fxLayoutGap="5px">
        <div class="card-number-title-name-on-card-title">Name On Card</div>
        <input type="text">
      </div>
    </div>
    <div fxLayout="row" fxLayoutGap="12px" style="margin-bottom: 25px;">
      <div fxLayout="column" fxLayoutGap="5px">
        <div class="card-number-title-name-on-card-title">Credit Card Number</div>
        <input type="text">
      </div>
      <div fxLayout="column" fxLayoutGap="5px">
        <div class="card-number-title-name-on-card-title">CVV</div>
        <input class="cvv" type="text">
      </div>
    </div>
    <div style="font-size: 14px;">Save your card for faster payment. CVV will not be saved.</div>
  </div>
  <div style="padding: 30px 0;" fxLayout="row" fxLayoutAlign="space-between none">
    <div class="price">Rs. 40,497</div>
    <p-button label="Pay Now" (onClick)="disabled = !disabled;" [disabled]="disabled"></p-button>
  </div>
</div>
