.itinerary-container {
  padding: 20px;
  border-top: 1px solid #e2e2e2;
}

.flight-and-aircraft {
  padding: 5px 15px 5px 0;
  border-right: 1px solid #cdcecf;
  width: 212px;
}

.from-place-time {
  padding: 5px 15px;
  width: 157px;
}

.other {
  padding: 5px 0;
  width: 182px;
}

.to-place-time {
  padding: 5px 0 5px 15px;
  width: 157px;
}

.airline-name {
  color: #333;
  font-size: 12px;
  font-weight: bold;
}

.operated-by {
  color: #666;
  font-size: 10px;
}

.round ::ng-deep .fa {
  color: #bebebe;
}

.fare-type {
  border: 1px solid #ee7282;
  padding: 0 5px;
  color: #ee7282;
  border-radius: 3px;
}

.fare-type-refundable {
  border: 1px solid green;
  color: green;
}

.depart-arrive-terminal {
  font-size: 12px;
  color: #333;
}

.depart-arrive-time {
  font-weight: bold;
  font-size: 14px;
  color: #333;
}
