<div fxLayoutAlign="center none" class="container">
  <div fxLayout="row" fxLayoutGap="15px">
    <div fxLayout="row">
      <div fxLayout="column" class="payment-options-tab">
        <div class="payment-option">Credit Card</div>
        <div class="payment-option">Debit Card</div>
        <div class="payment-option">Net Banking</div>
        <div class="payment-option">Pay Pal</div>
        <div class="payment-option">AmazonPay</div>
        <div class="payment-option">Reward Points</div>
      </div>
      <div class="payment-details-container">
        <app-payment-ui-first-style></app-payment-ui-first-style>
      </div>
    </div>
    <app-fare-details></app-fare-details>
  </div>
</div>
