.payment-method-title {
  margin-bottom: 25px;
  font-size: 18px;
  color: #666666;
}

.card-number-title-name-on-card-title {
  color: #666666;
  font-size: 14px;
}

input.cvv {
  width: 84px;
}

input {
  padding: 10px 7px;
  height: 17px;
  width: 224px;
  border: 1px solid #cfcfcf;
  color: #333333;
  font-size: 14px;
  border-radius: 3px;
}

input:focus {
  outline: none;
  border: 1px solid black;
}

.pay-full-some-box {
  min-width: 113px;
  padding: 10px;
  border: 1px solid #a3a3a3;
  color: #303030;
  font-size: 13px;
  line-height: 26px;
  height: 26px;
  text-align: center;
}

.payment-full-some-container {
  margin-bottom: 20px;
  border-bottom: 1px solid #d7dce1;
  padding-bottom: 10px;
}

p-radioButton ::ng-deep .ui-radiobutton-box.ui-state-active {
  background-color: red;
  border: 1px solid red;
}

.radio-button-align {
  padding-top: 19px;
}

