<app-payment-plan></app-payment-plan>
<div>
  <div class="payment-method-title">Pay with Credit Card</div>
  <div fxLayout="row" fxLayoutGap="12px" style="margin-bottom: 15px;">
    <div fxLayout="column" fxLayoutGap="5px">
      <div class="card-number-title-name-on-card-title">Credit Card Number</div>
      <input type="text">
    </div>
    <div fxLayout="column" fxLayoutGap="5px">
      <div class="card-number-title-name-on-card-title">Name On Card</div>
      <input type="text">
    </div>
  </div>
  <div fxLayout="row" fxLayoutGap="12px" style="margin-bottom: 25px;">
    <div fxLayout="column" fxLayoutGap="5px">
      <div class="card-number-title-name-on-card-title">Credit Card Number</div>
      <input type="text">
    </div>
    <div fxLayout="column" fxLayoutGap="5px">
      <div class="card-number-title-name-on-card-title">CVV</div>
      <input class="cvv" type="text">
    </div>
  </div>
  <div style="font-size: 14px;">Save your card for faster payment. CVV will not be saved.</div>
</div>
<app-total-price-pay-now></app-total-price-pay-now>
