p-button ::ng-deep .ui-button {
  height: 50px;
  width: 170px;
  font-size: 16px;
}

p-button ::ng-deep .ui-button:enabled {
  border: 1px solid #F34F4F;
  background-color: #F34F4F;
}

p-button ::ng-deep .ui-button:enabled:hover {
  background-color: #EA2330;
  border: 1px solid #EA2330;
}

p-button ::ng-deep .ui-button:disabled {
  opacity: 1;
  color: #999;
  border: 1px solid #E2E2E2;
  background-color: #E2E2E2;
}

.price {
  font-size: 32px;
  font-weight: bold;
  color: #333333;
  line-height: 50px;
}
