.filter-type-content {
  padding-bottom: 14px;
}

.filter-type {
  border-bottom: 1px solid #e2e2e2;
}

.filter-content-name {
  padding: 3px 0;
  cursor: pointer;
}

.filter-content-name-override {
  padding: 0 0;
}

.filter-content-name:hover ::ng-deep .only{
  visibility: visible;
}

.only {
  visibility: hidden;
  font-size: 11px;
  color: #4ea5df;
}

.only:hover {
  color: #F34747;
}

p-checkbox ::ng-deep .ui-chkbox-box.ui-state-active {
  background-color: #F34747;
  border: 1px solid #F34747;

}

p-checkbox ::ng-deep .ui-chkbox-box.ui-state-focus {
  box-shadow: 0 0;
}

p-checkbox ::ng-deep .ui-chkbox-label {
  font-size: .857em;
  color: #333;
  line-height: 18px;
  margin-left: 10px;
  cursor: pointer;
}

.show-more-less {
  color: #c1c1c1;
  font-size: .714em;
  cursor: pointer;
}

.show-more-less:hover {
  color: #F34747;
  text-decoration: underline;
}

p-slider ::ng-deep .ui-slider.ui-slider-handle {
  background: url("../../../../assets/slidet_background.png");
  background: white;
}

.count {
  color: #999;
  font-size: 0.857em;
  padding-top: 3px;
}

.minimum-price {
  color: #999;
  font-size: 0.857em;
  cursor: auto;
}

