<div fxLayout="row" fxLayoutGap="25px" class="payment-full-some-container">
  <div fxLayout="row" fxLayoutGap="5px">
    <div class="radio-button-align">
      <p-radioButton name="payment-full-partial" value="full" [(ngModel)]="selectedPaymentPlan"></p-radioButton>
    </div>
    <div class="pay-full-some-box">Pay Now</div>
  </div>
  <div fxLayout="row" fxLayoutGap="5px">
    <div class="radio-button-align">
      <p-radioButton name="payment-full-partial" value="partial" [(ngModel)]="selectedPaymentPlan"></p-radioButton>
    </div>
    <div class="pay-full-some-box">Partial Payment</div>
  </div>
</div>

